<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitaminjr.mobileacounting">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeLight">
        <activity android:name="com.example.vitaminjr.mobileacounting.activities.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ExpenseInvoiceActivity"
            android:label="@string/expense">

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.GainInvoiceActivity"
            android:label="@string/gain">
        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.CheckPricesActivity"
            android:label="@string/check_prices">

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.InventoryActivity"
            android:label= "@string/inventory">

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.GainInvoiceEditActivity"
            android:label= ""
            >

        </activity>
        <activity android:name="com.example.vitaminjr.mobileacounting.activities.ListProviderInvoiceActivity"
            android:label= ""
            >

        </activity>
        <activity android:name="com.example.vitaminjr.mobileacounting.activities.GainInvoiceEditArticlesActivity"
            android:label= "Товари"
            >

        </activity>
        <activity android:name="com.example.vitaminjr.mobileacounting.activities.ListArticlesInvoiceActivity"
            android:label= "Товари"  >

        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.InventoryEditActivity"
            android:label= "Інвертирезація"
            >

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.ListStoresActivity"
            android:label= "Підрозділ"
            >

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.InventoryEditArticlesActivity"
            android:label= "Редагування товарів">

        </activity>


        <activity android:name="com.example.vitaminjr.mobileacounting.activities.ListArticlesInventoryActivity"
            android:label= "Список товарів">

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.SettingsActivity"
            android:label= "Налаштування">

        </activity>

        <activity android:name="com.example.vitaminjr.mobileacounting.activities.CreatePriceCheckActivity"
            android:label= "Перевірка цін">

        </activity>



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>